body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.containerBoby {
  display: flex;
  height: 100%;
  overflow-y: auto;
}
.dynamicContent {
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
}